
.col{
    
    height: 200px;
}
.row{
 
    height: 800px;
}


header {
    border: 8px solid #d33376;
    background-color: rgb(55 12 57);
    color: #a6bfd7;
    padding: 20px 0;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
footer {
    border: 8px solid #d33376;
    background-color: rgb(55 12 57);
    color: #fff;
    padding: 10px 0;
}
#task-list {
    background-color: #cb5c5c8a;
    padding: 20px;
    border: 1px solid rgb(115 49,1);
    border-radius: 5px;
}
#task-form {
    background-color: #cb5c5c8a;
    padding: 20px;
    border: 1px solid rgb(115 49,1);
    border-radius: 5px;
}
.task-item {
    background-color: #c5abab;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
img.img-fluid {
    max-width: 100%;
    height: auto;
}

body {
    border: 6px solid #d33376;
    background-color:rgb(191 154 160); 
    background-size: cover; 
    background-repeat: no-repeat; 
}
